body{
    
    position: relative;
    word-wrap: break-word;
}
.entrar{

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    
}
.carregando{
    position: absolute;
}
.entrar img{
    height: 92px;
    width: 130px;
}

.usuario{
    margin-top: 94px;
    
}
.usuario-input{
    height: 54px;
    width: 258px;
}
.botao{
    margin-top: 15px;
 
}
button{
    background-color: 
    #E7E7E7;
    border-radius: 9px;
    height: 45px;
    width: 109px;

}


.icone , .botao :hover{
    cursor: pointer;
}



.escondido{
    display: none;
}



.topo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;justify-content: space-between;
    align-items: center;
    background-color:#FFFFFF;

}
        .img1{
            padding: 22px;
            width:75px;
            height:53px;
        }
        .img2{
            padding: 22px;
            width:42px;
            height:31px;
        }
.conteudo{
   
    align-items: center;
    background-color: #E5E5E5;
    margin-top: 80px;
    width: 100%;
    padding-bottom: 80px;
   
    
}
.baixo{
   
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#FFFFFF;
   

}
        .texto{
            margin-left: 30px;
            font-size: 20px;  
         
        }

        .icone{
            padding-right: 18px;
            width:26px;
            height:26px;

        }


.msg{
    display: flex;
    align-items: center;
    min-height: 50px;
    width: 100%;
    border-radius: 2px;
    margin: 4px 0px;
  
  
}
.message{
   
    background-color:
    #FFFFFF; 
    

}
.status{
   
    background-color: 
    #DCDCDC;
}
.private_message{
    background-color: 
    #FFDEDE;
}
span{
    padding: 5px;
    font-size: 14px;
}
